<aside class="sidebar">
    <div class="logo-space">
        <img src="/logo-ludus.png" alt="Ludus Logo">
    </div>
    <nav class="menu">
        <a href="/ocorrencias" class="menu-item">
            <span class="menu-icon">&#128221;</span>
            Ocorrências
        </a>
        <a href="/aulas" class="menu-item">
            <span class="menu-icon">&#128218;</span>
            Aulas
        </a>
        <a href="/turmas" class="menu-item">
            <span class="menu-icon">📚</span>
            Turmas
        </a>
        <a href="#" class="menu-item">
            <span class="menu-icon">&#128197;</span>
            Calendário
        </a>
        <a href="#" class="menu-item">
            <span class="menu-icon">&#128200;</span>
            Relatórios
        </a>
        <a href="#" class="menu-item">
            <span class="menu-icon">&#128202;</span>
            Gráficos de comportamento
        </a>
        <a href="#" class="menu-item">
            <span class="menu-icon">&#9881;</span>
            Configurações
        </a>
        <a href="/mapeamento" class="menu-item">
            <span class="menu-icon">&#127918;</span>
            Mapear Jogo
        </a>
        <a href="/usuario" class="menu-item">
            <span class="menu-icon">&#128100;</span>
            Usuário
        </a>
        <a href="/logout" class="menu-item">
            <span class="menu-icon">🚪</span>
            Sair
        </a>
    </nav>
</aside>